@import 'node_modules/modern-normalize/modern-normalize.css';

/* Define the "system" font family */
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
:root {
    --brand-background : #ffffff;
    --brand-main: #777887;
    --brand-sec: #94949e;
    --brand-tri: #b1b1b6;
    --brand-off: #cecece;
    --brand-font: 'Audiowide';
    --text-font: 'Roboto Serif';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .main-page {
  height: 100%;
}


body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Audiowide', 'Roboto Serif', 'Aldrich', sans-serif, serif, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
}

:root {
    line-height: calc(1ex / .32);
  }
  
  h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
  }
  
  ol, ul {
    list-style: none;
    padding-inline: 0;
  }
  
  h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-inline-size: 100%;
  }

  p {
    width: 60ch;
    max-width: 100%;
}

div {
  display: flex;
}

.main-page {
  
}

.content {
  flex-direction: column;

}

.content > * {
  flex-basis: 33vh;
}

.sidebar {
  background-image: url(/signup-page/img/side.jpg);
  min-width: 33vw;
  border: 3px black solid;
}

.action {
  flex-direction: column;
}