

/* Define the "system" font family */
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
:root {
    --brand-background : #ffffff;
    --brand-main: #777887;
    --brand-sec: #94949e;
    --brand-tri: #b1b1b6;
    --brand-off: #ebeaeaec;
    --brand-font: 'Audiowide';
    --text-font: 'Roboto Serif';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .main-page {
  height: 100%;
}


body .main-page {
  
  -webkit-font-smoothing: antialiased;
  font-family: 'Audiowide', 'Roboto Serif', 'Aldrich', sans-serif, serif, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
}

:root {
    line-height: calc(1ex / .32);
  }
  
  h1, h2, h3, h4, h5, figure, p, ol, ul {
    margin: 0;
  }
  
  ol, ul {
    list-style: none;
    padding-inline: 0;
  }
  
  h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-inline-size: 100%;
  }


div {
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(28, 28, 107);
}


.content {
  flex-direction: column;
  flex-grow: 1;
  font-family: 'Aldrich';

}

.content > * {
  flex-basis: 33vh;
}

.sidebar {
  width: 350px;
  height: 100vh;
  background-image: url('/signup-page/side.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  
  
}

.banner { 
  color: var(--brand-background);
  align-items: center;
}

.text, .action {
  background-color: var(--brand-off);
}

.text {
  padding: 5vh 0;
  box-shadow: var(--brand-tri) 0px 2px;
}

#logo-text {
  font-size: clamp(1rem,8vh,3rem);
}

#logo {
  height: 25%;
}

.action, .text, .form {
  flex-direction: column;
}

p.feature {
  max-width: 65ch;
  padding: 1vh 2rem;
  
}
.form {
  padding: 5vh 2rem;
  box-shadow: var(--brand-tri) 0px 2px;
  
}


#form-text {
  font-size: 1.25rem;
  margin-top: .5rem;
}

#signup {
  margin: .5rem 0;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

#signup > * {
  margin-top: .5rem;
  
}

#col-1, #col-2 {
  flex-direction: column;
}

.form-input {
  min-width: 300px;
  margin: .5rem 0;
  display: flex;
  flex-direction: column;
  font-size: .75rem;
  
}

.action {
  padding: 1vh 2rem;
}

#create {
  width: 200px;
  height: 2rem;
  border-radius: 10px;
  background-color: rgb(28, 28, 107);
  color: var(--brand-off);
  font-family: 'Audiowide';
  margin: 2rem 0px;
  
}